<div class="footer">
  <footer class="text-left " style="margin-top: 200px   ;background-image: linear-gradient(#ffffff,#6dd5fa,#2980b9) ">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-8 mb-md-0">
          <h5 class="text-uppercase mb-0">Trạm y tế thành phố Đà Nẵng</h5>
          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt"></i> Nguyễn Thị Minh Khai - Thạch Thang - Hải Châu - Đà Nẵng - Việt Nam</p>
            </li>
            <li>
              <p><i class="far fa-clock"></i> Giờ mở cửa: Sáng: 07:30–11:30, Chiều: 13:30–17:30</p>
            </li>
            <li>
              <a href=""><i class="fas fa-phone"></i> Hotline: +84965241818</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-8 mb-md-0">
          <h5 class="text-uppercase">Bản đồ</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1148.0545326552822!2d108.21766201207792!3d16.07594248066413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421839c9ad6c4d%3A0x6b98e095848d1109!2zVHLhuqFtIFkgdOG6vyBwaMaw4budbmcgVGjhuqFjaCBUaGFuZw!5e0!3m2!1sen!2s!4v1671263314510!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(129,174,207)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Trạm y tế thành phố Đà Nẵng</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
